In [ ]:
"""
Data Project 2:
1. Import required libraries
2. Read csv
3. Show first records from csv
4. Show number of rows and columns
5. You need to find the values of alignment ,can use value_counts()
6. Find out only good alignment holders superheroes
7. Show first five records which you found in point 6
8. Show top five records having top speed of heroes of good alignment
9. Show 5 records of super heroes who have maximum power of good alignment
10. Find out how many super heroes are there with power 100 of good alignment
11. Shape them what you got in point 10
12. Show all records from point 10
13. Retrieve total of first five records of max power of good alignment super heroes
14. Draw a bar plot of all super heroes who are having good alignment and max power of
top five only , take same object of point 13 , show name and total in plot with green 
bars
15. Extract villains having bad alignment
16. Show first five records of point 15
17. Show top five fastest super villains in terms of super speed
18. Top five super villains in terms of intelligence
19. Show who is most dangerous super villain after calculating their total (top 5 only)
20. Draw a histogram for speed of super heroes having fig size 10,5 , provide speed in 
histogram for only good alignment super heroes ,title should be "distribution of 
speed" , xlabel should be "speed"
21. Draw a histogram for combat of super villains having fig size 10,5 , provide combat in 
histogram for only bad alignment super heroes ,title should be "distribution of 
combat" , xlabel should be "combat"
*** Explain how you retrieve data with the help of comments in almost each section
"""

"""
Bonus: Can go beyond the scope and extract some different information on different 
characters and their properties. Can draw some more plots and histograms.
"""

In [2]:
#1. Import required libraries
import pandas as pd
import numpy as np

In [3]:
#2. Read csv
df = pd.read_csv("character_stats.csv")
df

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292
610,Zoom,bad,50,10,100,28,72,28,288

In [4]:
#3. Show first records from csv
df.head(10)

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436
5,Abraxas,bad,88,100,83,99,100,56,526
6,Adam Monroe,good,63,10,12,100,71,64,320
7,Adam Strange,good,1,1,1,1,0,1,5
8,Agent 13,good,1,1,1,1,0,1,5
9,Agent Bob,good,10,8,13,5,5,20,61

In [5]:
#4. Show number of rows and columns

#print(f"There are {len(df)} rows and {len(df.columns)} columns.")

print(f"There are {df.shape[0]} rows and {df.shape[1]} columns.")

#

There are 611 rows and 9 columns.

In [6]:
#5. You need to find the values of alignment, can use value_counts()
alignment = df['Alignment'].value_counts()
alignment

good       432
bad        165
neutral     11
Name: Alignment, dtype: int64

In [9]:
#6. Find out only good alignment holders superheroes
good = df[['Name', 'Alignment']].loc[(df['Alignment']=='good')]
good

                Name Alignment
0            3-D Man      good
1             A-Bomb      good
2         Abe Sapien      good
3           Abin Sur      good
6        Adam Monroe      good
..               ...       ...
604            X-Man      good
606     Yellowjacket      good
607  Yellowjacket II      good
608             Ymir      good
609          Zatanna      good

[432 rows x 2 columns]

In [10]:
#7. Show first five records which you found in 6
good.head()

          Name Alignment
0      3-D Man      good
1       A-Bomb      good
2   Abe Sapien      good
3     Abin Sur      good
6  Adam Monroe      good

In [11]:
#8. Show top five records having top speed of heroes of good alignment
goodSpeed = df[['Name', 'Alignment', 'Speed']].loc[(df['Alignment']=='good')].sort_values('Speed', ascending=False)
goodSpeed.head()

               Name Alignment  Speed
231       Flash III      good    100
304  Jack of Hearts      good    100
295         Impulse      good    100
525        Stardust      good    100
447     Quicksilver      good    100

In [12]:
#9. Show 5 records of super heroes who have maximum power of good alignment
goodPower = df[['Name', 'Alignment', 'Power']].loc[(df['Alignment']=='good')].sort_values('Power', ascending=False)
goodPower.head(5)

              Name Alignment  Power
609        Zatanna      good    100
546           Thor      good    100
511          Spawn      good    100
69   Beta Ray Bill      good    100
70        Beyonder      good    100

In [31]:
#10. Find out how many super heroes are there with power 100 of good alignment
goodMaxPower = df[['Name', 'Alignment', 'Power']].loc[(df['Alignment']=='good')].sort_values('Power', ascending=False)
goodMaxPower.groupby("Power").count().sort_values('Power', ascending=False).head(1)

       Name  Alignment
Power
100      33         33

In [ ]:
#11. Shape them what you got in point 10

In [ ]:
#12. Show all records from point 10

In [ ]:
#13. Retrieve total of first five records of max power of good alignment super heroes

In [ ]:
"""
14. Draw a bar plot of all super heroes who are having good alignment and max power of 
top five only , take same object of point 13 , show name and total in plot with green bars
"""

In [13]:
#15. Extract villains having bad alignment
evil = df[['Name', 'Alignment']].loc[(df['Alignment']=='bad')]
evil

               Name Alignment
4       Abomination       bad
5           Abraxas       bad
11       Air-Walker       bad
16            Amazo       bad
17             Ammo       bad
..              ...       ...
586            Warp       bad
590       Weapon XI       bad
593  Willis Stryker       bad
605     Yellow Claw       bad
610            Zoom       bad

[165 rows x 2 columns]

In [14]:
#16. Show first five records of point 15
evil.head()

           Name Alignment
4   Abomination       bad
5       Abraxas       bad
11   Air-Walker       bad
16        Amazo       bad
17         Ammo       bad

In [15]:
#17. Show top five fastest super villains in terms of super speed
badSpeed = df[['Name', 'Alignment', 'Speed']].loc[(df['Alignment']=='bad')].sort_values('Speed', ascending=False)
badSpeed.head()

               Name Alignment  Speed
610            Zoom       bad    100
11       Air-Walker       bad    100
16            Amazo       bad    100
535  Superboy-Prime       bad    100
242     General Zod       bad     96

In [16]:
#18. Top five super villains in terms of intelligence
badIntel = df[['Name', 'Alignment', 'Intelligence']].loc[(df['Alignment']=='bad')].sort_values('Intelligence', ascending=False)
badIntel.head()

                Name Alignment  Intelligence
386  Mister Mxyzptlk       bad           113
338       Lex Luthor       bad           100
336           Leader       bad           100
122         Brainiac       bad           100
194      Doctor Doom       bad           100

In [18]:
#19. Show who is most dangerous super villain after calculating their total (top 5 only)
badTotal = df[['Name', 'Alignment', 'Total']].loc[(df['Alignment']=='bad')].sort_values('Total', ascending=False)
badTotal.head()

               Name Alignment  Total
535  Superboy-Prime       bad    579
242     General Zod       bad    579
16            Amazo       bad    575
203        Dormammu       bad    546
201        Doomsday       bad    545

In [ ]:
"""
20. Draw a histogram for speed of super heroes having fig size 10,5 , provide speed in 
histogram for only good alignment super heroes ,title should be "distribution of 
speed" , xlabel should be "speed
"""

In [ ]:
"""
21. Draw a histogram for combat of super villains having fig size 10,5 , provide combat in 
histogram for only bad alignment super heroes ,title should be "distribution of 
combat" , xlabel should be "combat"
"""

In [ ]:
"""
Bonus: Can go beyond the scope and extract some different information on different 
characters and their properties. Can draw some more plots and histograms.
"""